.wrapper{
    padding: 20px 10px;
    font-size: 12px;


    .title{
        text-align: center;
        font-size: 14px;
    }
    th,td{
        text-align: center;
    }
    td{
        line-height: 31px;
    }
}