

<div class="wrapper">
    <h5 class="title">
        Ultime Misurazioni
    </h5>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row">Temperatura</th>
            <td>-</td>
            <td>12:30</td>
            <td>16/05/2024</td>
        </tr>
        <tr>
            <th scope="row">Sistolica</th>
            <td>-</td>
            <td>12:30</td>
            <td>16/05/2024</td>
        </tr>
        <tr>
            <th scope="row">Diastolica</th>
            <td>-</td>
            <td>12:30</td>
            <td>16/05/2024</td>
        </tr>
        <tr>
            <th scope="row">Satur. Oss.</th>
            <td>-</td>
            <td>12:30</td>
            <td>16/05/2024</td>
        </tr>
        </tbody>
     </table>
</div>