
<div class="page-wrapper">
    <div class="header">
        <div class="icon" [class]="model.icon"></div>
        <h5 class="title">{{model.name}}</h5>
        <div class="description">{{model.description}}</div>
        <div class="image">
            <img src="../../../assets/prussure-misure.jpg" />
        </div>
    </div>
    <div class="content">
        <div class="content-row">
            <button (click)="openRegister()" type="button" class="btn btn-primary btn-sm">{{model.buttons[0].label}}</button>
            <button (click)="openPlanning()" class="button" class="btn btn-primary btn-sm">{{model.buttons[1].label}}</button>
            <button  [routerLink]="['/archive/' + model.id]" type="submit" class="btn btn-primary btn-sm">Archivio</button>
            
        </div>
        
        <!-- PLANNING PAN-->
        <div *ngIf="isOpenPlanning  && model?.planningType === 'time'" class="planning-component">

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Ore</span>
                <input class="form-control" [ngxTimepicker]="picker" value="12" [format]="24" [(ngModel)]="selectedTime" placeholder="00:00" aria-describedby="basic-addon1">
                <ngx-material-timepicker #picker></ngx-material-timepicker>

                <button *ngIf="selectedTime!== undefined" (click)="addPlanning(selectedTime)"  type="button" class="btn btn-primary btn-sm">Aggiungi</button>
            </div>

            <ul *ngIf="hasPlanning()" class="list-group list-group-flush">
                <h5>Pianificazione</h5>
                @for(item of plannings; track $index){
                    <li class="list-group-item">{{item}} <button (click)="dropItem($index)" type="button" class="btn btn-primary btn-sm">Elimina</button> </li>
                }
              </ul>
        </div>
        <!-- REGISTER PAN-->
        <pressure-register *ngIf="isOpenRegister"></pressure-register>
    </div>
</div>
