
<div class="page-wrapper">
    <div class="header">
        <div class="icon" [class]="model.icon"></div>
        <span class="title">{{model.name}}</span>
        <div class="description">{{model.description}}</div>
        <div class="image">
            <img src="../../../assets/prussure-misure.jpg" />
        </div>
    </div>
    <div class="content">
        <div class="content-row">
            <button type="button" class="btn btn-primary btn-sm">Pianifica</button>
      
            <button type="button" class="btn btn-primary btn-sm">Registra</button>
        </div>
    </div>
</div>
