<div class="wrapper">
    <div class="header">
        <div class="icon">
            <i [class]="icon"></i>
        </div>
        <div class="title">{{model?.name}}</div>
    </div>
    
    <div class="description">
        {{model?.description}}
    </div>
    <div class="buttons">
        @for(button of model?.buttons; track $index){
            <div [class.selected-button]="buttonIndex === $index"  (click)="selectButton($index)" class="button">{{button.label}}</div>
        }
    </div>
</div>
