.wrapper{
    background-color: #fff;
    border-radius: 15px;
    padding: 18px;

    .header{
        display: flex;
        align-items: center;
        .icon{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .title{
            font-size: 20px;
            margin-left: 15px;
        }
    }

    .description{
        font-size: 14px;
        padding: 10px 0;
        font-weight: 300;
        
    }

    .buttons{
        display: flex;
        justify-content: end;
        .button{
            font-size: 12px;
            width: auto;
            padding: 0 10px;
            margin: 0 5px;
            border-radius: 10px;
            height: 24px;
        }
        .selected-button{
            background-color: aqua;
        }

    }
}